// ============================== Чем мы занимаемся START ==============================
// <SECTION> Контейнер ВСЕЙ секции
.works {
  padding-top: 0;
  padding-bottom: 94px;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

// <UL> Список Иконок
.works__list {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
//  =============== Карточки Оверлей START ===============
// <LI> Карточка Иконки
.works__item {
  position: relative;
}

.works__image {
  width: 100%;

  @media screen and (min-width: $desktop) {
    width: 370px;
  }
}
// <DIV> Контейнер для надписи поверх иконки
.works__thumb {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 27px;

  background: var(--card-bg-color);
}
// <P> Текст Оверлея
.works__text {
  margin: 0;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--third-text-color);
}
//  =============== Карточки Оверлей END ===============
// ============================== Чем мы занимаемся END==============================
